body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    height: 100vh;
    /* Full height of the viewport */
}

.card-container {
    display: flex;
    justify-content: space-between;
    /* Arrange items with space in between */
}

.card {
    width: 400px;
    height: 270px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    color: #000;
}

.logo img {
    width: 100px; /* Adjusted width */
    height: 70px; /* Adjusted height */
    border-radius: 50%;
    margin-right: 10px;
}

.college-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.line {
    /* border-bottom: 2px solid #000; */
    margin: 10px 0;
}

.title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.detail-row {
    display: flex;
    margin-bottom: 5px;
}

.label {
    width: 120px; /* Adjust width as needed */
    font-weight: bold;
}

.value {
    flex: 1; /* Takes the remaining space */
}

.picture {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-top: -30px;
    object-fit: cover;
}

.signature {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top: 2px solid #000;
    max-width: 150px;
}
.digital-signature {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    position: absolute;
    top: 215px; /* Adjust the distance from the top as needed */
    right: -18px; /* Adjust the distance from the right as needed */
    object-fit: contain;
}

.card-back {
    width: 400px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 20px;
    /* Adjusted margin to separate front and back sides */
}

.address {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.contact-qrcode-container {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 5px; */
}

.contact,
.qrcode-container {
    width: 48%;
    font-size: 13px;
    font-weight: bold;
}

.qrcode-container {
    text-align: right;
}

.qrcode {
    width: 80px;
    height: 80px;
    /* border: 1px solid #000; */
    object-fit: cover;
}

.cnic {
    margin-bottom: 5px;
    font-weight: bold;
}

.cnic-box {
    display: inline-block;
    width: 15px;
    height: 20px;
    background-color: #0445db;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 1px;
}

.qrcode-container-bottom {
    text-align: center;
    margin-bottom: 5px;
}

.return-text {
    /* background-color: #0445db; */
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
}

.watermark {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    /* Adjust the opacity as needed */
    width: 200px;
}

.back-watermark {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    /* Adjust the opacity as needed */
    width: 200px;
}